<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"> <!-- das brauchen wir, damit wir thymeleaf verwenden können -->
    <head>
        <meta charset="utf-8">
        <title>Personen</title>
    </head>
<body>
    <!-- das hier ist die View im MVC -->
    <!-- thymeleaf -> rendering engine -->
    <!-- das normale html wird durch thymeleaf tags erweitert -->

    <form th:action="@{/}">
        <input th:if="${ !#ctx.containsVariable('all') }" type="hidden" name="all" value="true">
        <button>[[ ${all} ? 'nur aktivierte' : 'alle' ]] Personen anzeigen</button>
    </form>

    <h1>Personen</h1>

    <ul>
        <!-- th:each -> macht eine Schleife draus -->
        <li th:each="person : ${persons}">
            [[ ${person.name} ]]
        </li>

    </ul>
</body>
</html>